body {
  background-color: rgba(142, 142, 227, 0.097);
}

.outline {
  outline: 3px solid rgb(205, 174, 96);
  text-align: center;
}

.pad {
  padding-right: 15px;
}

b {
  font-weight: 500;
  color: white;
}

.justify {
  text-align: center;
  justify-content: center;
  padding: 45px;
}

header {
  /* border: 0; */
  background-image: linear-gradient(
      to left,
      rgba(31, 31, 97, 0.632),
      rgb(31, 31, 97, 0.632)
    ),
    url(../../../Images/PLP-headerj.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  text-align: center;
  color: white;
  padding: 70px 0px;
}

.text-1,
.text-2 {
  font-weight: 300;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(18, 18, 87);
}

.content {
  color: white;
  justify-content: space-around;
  padding: 90px 145px;
}

.content-text-left .content-left-text {
  display: grid;
  /* padding: 150px 0; */
}

.content-right-text {
  display: grid;
}

.content-text-right {
  display: grid;
}

.btn-circle-sm {
  width: 40px;
  height: 40px;
  line-height: 39px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  margin-right: 6px;
  position: relative;
}

.btn-circle-sm i {
  position: relative;
  top: -1px;
  left: 0px;
  font-size: 34px;
  color: rgb(18, 18, 87);
}

.link a {
  color: white;
  text-decoration: none;
}

/* MAIN CONTENT */
.img-fluid {
  position: relative;
  /* align-items: center; */
  float: left;
  width: 100%;
}

.file {
  display: none;
}

.image-div {
  position: relative;
}

.uploadImg {
  width: 96%;
  position: absolute;
  top: 160px;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.641);
  color: white;
  display: none;
  cursor: pointer;
}

.image-div:hover .uploadImg {
  width: 96%;
  position: absolute;
  top: 160px;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.641);
  color: white;
  display: block;
  cursor: pointer;
}

#image-input {
  position: absolute;
  bottom: 0;
}

.comodities {
  position: absolute;
  top: 151px;
  right: 15px;
  align-items: flex-end;
  justify-content: flex-end;
}

.comodities p {
  margin: 0;
  padding: 0 4px;
}

.btn-grp {
  position: absolute;
  width: 15%;
  transform: translate(630px, 173px);
}

.card-description{
    overflow: hidden;
    line-height: 1.2em;
    height: 6em;
}
